<div class="{{classes.wrapper}}">
    <div class="{{classes.errorCode}}">{{errorCode}}</div>
    <div class="{{classes.errorText}}">{{errorText}}</div>
    <a href="/chat-list" class="{{classes.backBtn}}">{{backBtn}}</a>
</div>
