<div onclick='history.back()' class="{{classes.goBackBtn}}"></div>
<div class={{classes.profileWrapper}}>
    <div class={{classes.userAvatar}}>
        <div class={{classes.userAvatarImg}}>
            <img src="{{{avatarImg}}}" alt="Аватар пользователя">
            {{{avatarUpload}}}
        </div>
    </div>
    <div class={{classes.profileFieldsWrapper}}>
        {{{listDataProfile}}}
    </div>
    <div class="{{classes.profileFields}} buttons-hide">
        {{{buttons}}}
    </div>
</div>
