<div class="{{classes.wrapper}}">
    <div class="{{classes.foldersColumn}}">
        <div class="{{classes.burger}}">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0418 14C23.0418 13.7679 22.9496 13.5453 22.7855 13.3812C22.6215 13.2171 22.3989 13.125 22.1668 13.125H5.8335C5.60143 13.125 5.37887 13.2171 5.21478 13.3812C5.05068 13.5453 4.9585 13.7679 4.9585 14C4.9585 14.232 5.05068 14.4546 5.21478 14.6187C5.37887 14.7828 5.60143 14.875 5.8335 14.875H22.1668C22.3989 14.875 22.6215 14.7828 22.7855 14.6187C22.9496 14.4546 23.0418 14.232 23.0418 14ZM23.0418 8.16663C23.0418 7.93456 22.9496 7.712 22.7855 7.54791C22.6215 7.38381 22.3989 7.29163 22.1668 7.29163H5.8335C5.60143 7.29163 5.37887 7.38381 5.21478 7.54791C5.05068 7.712 4.9585 7.93456 4.9585 8.16663C4.9585 8.39869 5.05068 8.62125 5.21478 8.78534C5.37887 8.94944 5.60143 9.04163 5.8335 9.04163H22.1668C22.3989 9.04163 22.6215 8.94944 22.7855 8.78534C22.9496 8.62125 23.0418 8.39869 23.0418 8.16663ZM23.0418 19.8333C23.0418 19.6012 22.9496 19.3787 22.7855 19.2146C22.6215 19.0505 22.3989 18.9583 22.1668 18.9583H5.8335C5.60143 18.9583 5.37887 19.0505 5.21478 19.2146C5.05068 19.3787 4.9585 19.6012 4.9585 19.8333C4.9585 20.0654 5.05068 20.2879 5.21478 20.452C5.37887 20.6161 5.60143 20.7083 5.8335 20.7083H22.1668C22.3989 20.7083 22.6215 20.6161 22.7855 20.452C22.9496 20.2879 23.0418 20.0654 23.0418 19.8333Z" fill="white"/>
            </svg>
        </div>
        <div class="{{classes.folders}}">
            {{#each folders}}
                <div class="{{../classes.folderWrapper}}">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8689 19.8053C23.3612 17.1103 23.3915 14.3523 22.9599 11.6468L22.8852 11.179C22.8347 10.8614 22.6725 10.5723 22.4278 10.3636C22.1832 10.1548 21.8721 10.0402 21.5505 10.0403H11.3865C11.0585 10.0403 10.744 9.91004 10.5121 9.67812C10.2802 9.4462 10.1499 9.13165 10.1499 8.80367C10.1496 8.55726 10.0515 8.32105 9.87711 8.14693C9.70277 7.9728 9.46644 7.875 9.22003 7.875H6.5472C5.8507 7.875 5.26386 8.39533 5.18103 9.08717L4.86253 11.7343C4.54545 14.3744 4.62725 17.0472 5.1052 19.663C5.2137 20.2533 5.7072 20.6967 6.30686 20.7387L8.0732 20.8658C12.0189 21.1482 15.9809 21.1482 19.9265 20.8658L21.8375 20.7282C22.0874 20.7105 22.3244 20.6103 22.5111 20.4432C22.6978 20.2762 22.8237 20.0518 22.8689 19.8053ZM24.6889 11.3703C25.1517 14.2716 25.1181 17.2303 24.5897 20.1203C24.4749 20.7486 24.1544 21.3208 23.6788 21.747C23.2032 22.1732 22.5994 22.4292 21.9624 22.4747L20.0514 22.6112C16.0222 22.8993 11.9776 22.8993 7.94836 22.6112L6.18203 22.4852C5.50358 22.4365 4.86057 22.1636 4.35413 21.7096C3.84769 21.2555 3.50655 20.646 3.38436 19.9768C2.87483 17.1886 2.78752 14.3397 3.12536 11.5255L3.44153 8.87833C3.53281 8.11938 3.89895 7.42015 4.47077 6.91283C5.04258 6.4055 5.78044 6.12524 6.54486 6.125H9.21886C10.5232 6.125 11.6105 7.056 11.8497 8.29033H21.5494C23.0742 8.29033 24.3727 9.39867 24.6119 10.9037L24.6865 11.3703H24.6889Z" fill="white"/>
                    </svg>
                    <span>{{label}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="{{classes.chatList}}">
        <div class="{{classes.profileLink}}">
            <a href="/profile">Профиль ></a>
        </div>
        <div class="{{classes.search}}">
            <input placeholder="Поиск">
        </div>
        <div class="{{classes.chatsWrapper}}">
            {{#each chats}}
                <div class="{{../classes.chatItem}}">
                    <div class="{{../classes.chatAvatar}}">
                        {{#if avatar}}
                            <img src="{{avatar}}">
                        {{/if}}
                    </div>
                    <div class="{{../classes.chatContent}}">
                        <div class="{{../classes.chatContentLine}}">
                            <div class="{{../classes.chatUsername}}">{{userName}}</div>
                            <span class="{{../classes.chatTime}}">{{timeSent}}</span>
                        </div>
                        <div class="{{../classes.chatContentLine}}">
                            <div class="{{../classes.chatContentLineFlexer}}">
                                {{#if isSentByMe}}
                                    <b>Вы: </b>
                                {{/if}}
                                <span class="{{../classes.chatMessage}}">{{message}}</span>
                            </div>
                            {{#if badgeCount}}
                                <div class="{{../classes.chatBadge}}">{{badgeCount}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="{{classes.chatArea}}">
        <span>Немножко не успев(((</span>
    </div>
</div>
