<div class="{{classes.wrapper}}">
    <div onclick='history.back()' class="{{classes.goBackBtn}}"></div>
    <div class="{{classes.profileWrapper}}">
        <div class="{{classes.profileFieldsWrapper}}">

            <div class="{{classes.profileFields}}">
                {{#each profileFields}}
                    <label class="{{../classes.profileField}}">
                        <div class="{{../classes.profileFieldLabel}}">
                            {{label}}
                        </div>
                        <input type="password" value="{{value}}" name="{{name}}" class="{{../classes.profileFieldValue}}">
                    </label>
                {{/each}}
            </div>
        </div>

        <div class="{{classes.profileFields}}">
            <button type="submit" class="{{classes.saveBtn}}">
                {{buttonLabel}}
            </button>
            <button type="submit" class="{{classes.saveBtn}}" onclick="location.pathname='/profile'">
                {{canselButton}}
            </button>
        </div>
    </div>
</div>
