<div onclick='history.back()' class="{{classes.goBackBtn}}"></div>
<div class={{classes.profileWrapper}}>
    <div class={{classes.profileFieldsWrapper}}>
        {{{formPassProfile}}}
    </div>
    <div class="{{classes.profileFields}}">
        {{{buttons}}}
    </div>
</div>
