<label class="{{../class.field}}" for="{{name}}">
    <span class="{{../class.title}}">{{title}}</span>
    <input class="{{../class.input}}" type="{{type}}" name="{{name}}" id="{{name}}">
    <span class="{{../class.error}}">{{errorText}}</span>
</label>
